<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Albums</title>
</head>
<body>
    <h1>My Albums</h1>
    <ul>
        <% for(let album of albums) { %>
            <li>
                <a href="/albums/<%= album.id %>">
                    <%= album.title %> - <%= album.artist %> (<%= album.year %>)
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>